server:
  port: 8082 # Porta dedicada para o MS-Catalog
  address: 0.0.0.0

# ===============================================
# CONFIGURAÇÃO SPRING (Geral e BD)
# ===============================================
spring:
  application:
    name: ms-catalog

  cloud:
    compatibility-verifier:
      enabled: false

    consul:
      host: localhost
      port: 8500

      discovery:
        enabled: true
        register: true
        hostname: host.docker.internal
        prefer-ip-address: false
        health-check-path: /actuator/health
        health-check-interval: 15s
        register-health-check: true

  datasource:
    # A URL aponta para o BD ms_catalog
    #url: jdbc:postgresql://localhost:5432/ms_catalog
    #username: user_ms
    #password: mssala
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD_POSTGRES}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
      enabled: true


google:
  api:
    key: ${GOOGLE_API_KEY}

jwt:
  secret: ${JWT_SECRET}
