server:
  port: 8083 # Porta dedicada para o MS-Sessions
  address: 0.0.0.0

# ===============================================
# SPRING CONFIGURATION (General + Database)
# ===============================================
spring:
  application:
    name: ms-sessions

  cloud:
    compatibility-verifier:
      enabled: false

    consul:
      host: localhost
      port: 8500

      discovery:
        enabled: true
        register: true
        hostname: host.docker.internal
        prefer-ip-address: false
        health-check-path: /actuator/health
        health-check-interval: 15s
        register-health-check: true

  datasource:
    url: jdbc:postgresql://localhost:5432/ms_sessions
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD_POSTGRES}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
      enabled: true

jwt:
  secret: ${JWT_SECRET}
